#block h1 {
    background: none;
    color: black;
}

#form {
    margin-right: auto;
    margin-left: auto;
    width: 500px;
    height: 550px;
    background: #fff;
    border: 1px solid #E84173;
}

label {
    display: block;
    text-align: right;
    position: relative;
    right: 70px;
}

#sex {
    position: relative;
    left: 117px;
}

#sex label {
    text-align: left;
    position: relative;
    left: 100px;
    top: -15px;
}

#inquiry label {
    text-align: left;
    position: relative;
    left: 20px;
}



#listbox {
    position: relative;
    top: 5px;
    left: 15px;
    
}


textarea {
    float: right;
    position: relative;
    top: -64px;
}

#buttons {
    text-align: center;
}
.post {
    height: 100%;
}

.red {
    color: red;
}

input, select, textarea {
    background-color: #FFA8C2;
}